<div class="crm-container mcs-status">
  <!--
    Add ?angularDebug=1
  <h1 crm-page-title>{{ts('About %1', {1: myContact.first_name + ' ' + myContact.last_name})}}</h1>
-->
  <h1 crm-page-title>{{ts('Mailchimpsync Status')}}</h1>
  <div crm-ui-debug="mcsConfig"></div>
  <div crm-ui-debug="mcsStatus"></div>
  <div crm-ui-debug="mailingGroups"></div>

  <p>
    <button ng-click="getDetailedUpdate()" nf-disabled="isLoading" >{{ isLoading ? 'Loading' : 'Refresh'}}</button>
    &nbsp; <a href ng-show="view !== 'overview'" ng-click="view='overview'" >Back to overview</a>
    &nbsp; <a href ng-show="view !== 'detail' && selectedListId" ng-click="view='detail'" >Back to {{mailingGroups[selectedList.subscriptionGroup].title}}</a>
    &nbsp; <a href ng-show="view !== 'cache'" ng-click="cacheView()" >Browse Cache</a>
  </p>

    <!-- Overview ========================================================== -->
    <div ng-show="view === 'overview'" >
      <p ng-repeat="(listId, list) in mcsConfig.lists" >
        <span ng-if="mcsStatus[listId].in_sync">
          <span class="mcs-status-pill good">In sync</span> {{mcsStatus[listId].lastSyncTimeHuman}}
        </span>
        <span ng-if="!mcsStatus[listId].in_sync">
          <span class="mcs-status-pill meh" >Not in sync</span>
          <span ng-if="!mcsStatus[listId].lastSyncTime" >Sync never run.</span>
        </span>
        <a href ng-click="showDetails(listId)" >{{ mailingGroups[list.subscriptionGroup].title }} / {{ mcsConfig.accounts[list.apiKey].audiences[listId].name }}</a>
      </p>
    </div>
    <!-- Detail ========================================================== -->
    <div ng-show="view === 'detail'" >
      <div crm-ui-debug="selectedList"></div>
      <div crm-ui-debug="selectedListId"></div>

      <h2>{{ mailingGroups[selectedList.subscriptionGroup].title }}</h2>
      <p>Sync CiviCRM <a href="{{ crmUrl('civicrm/group/search', {reset:1, force:1, gid: selectedList.subscriptionGroup}) }}">group</a>
      with Mailchimp audience: <strong>{{ mcsConfig.accounts[selectedList.apiKey].audiences[selectedListId].name }}</strong> on account <em>{{ mcsConfig.accounts[selectedList.apiKey].account_name }}</em></p>
      <p>Last sync: <em>{{ mcsStatus[selectedListId].lastSyncTimeHuman }}</em></p>
      <div>
        {{ listStats=mcsStatus[selectedListId].stats; "" }}
        <a href ng-click="cacheView({mailchimp_list_id: selectedListId, mailchimp_status: 'subscribed'})">{{ listStats.subscribed_at_mailchimp }} at mailchimp</a><br/>
        <code>- </code>{{ listStats.to_remove_from_mailchimp }} to remove from mailchimp<br />
        <code>+ </code>{{ listStats.to_add_to_mailchimp }} to add to mailchimp<br />
        <code>= </code>{{listStats.subscribed_at_mailchimp - listStats.to_remove_from_mailchimp + listStats.to_add_to_mailchimp}}<br/>
        <br />
        <a href ng-click="cacheView({mailchimp_list_id: selectedListId, civicrm_status: 'Added'})">{{ listStats.subscribed_at_civicrm }} in CiviCRM</a>
        <br />
        <code>- </code>{{ listStats.cannot_subscribe }} <a href ng-click="cacheView({mailchimp_list_id: selectedListId, sync_status: 'fail'})">cannot subscribe.</a><br />
        <code>= </code>{{listStats.subscribed_at_civicrm - listStats.cannot_subscribe}}<br/>
      </div>
      <p>
        {{fetchLock = mcsStatus[selectedListId].locks.fetchAndReconcile || 'readyToFetch';""}}
        <span ng-if="fetchLock != 'readyToFetch'">
          <span class="mcs-status-pill meh" ng-if="fetchLock != 'readyToFetch'">Running</span>
          <span ng-if="listStats.todo > 0">{{ listStats.todo }} remaining to process.</span>
          <span>{{ mcsStatus[selectedListId].log[mcsStatus[selectedListId].log.length-1].message }}</span>
        </span>
        <span ng-if="fetchLock == 'readyToFetch'">
          <span class="mcs-status-pill good" ng-if="fetchLock == 'readyToFetch'">Waiting</span>
          Will periodically fetch and reconcile
        </span>
      </p>
      <p>
        <span ng-if="listStats.mailchimp_updates_unsubmitted > 0">
          <span class="mcs-status-pill meh" >Waiting</span>
          Will submit {{listStats.mailchimp_updates_unsubmitted}} update(s) to Mailchimp</span>
        </span>
        <span ng-if="listStats.mailchimp_updates_unsubmitted == 0 && listStats.mailchimp_updates_pending > 0">
          <span class="mcs-status-pill good" >Submitted</span> {{listStats.mailchimp_updates_pending}} update(s) submitted to Mailchimp
        </span>
        <span class="mcs-status-pill good" ng-if="listStats.mailchimp_updates_pending == 0">No outstanding updates</span>
      </p>
      <p>
        <span class="mcs-status-pill grey" ng-if="isLoading" >Loading</span>
        <span ng-if="mcsStatus[selectedListId].batches" >
          <span ng-if="listStats.batch_pending_operations > 0">
            <span class="mcs-status-pill meh" >In progress</span>
            Waiting on Mailchimp to process
            {{listStats.batch_pending_operations}} operations.
            {{listStats.batch_finished_operations}}/{{listStats.batch_total_operations}}
            done, {{listStats.batch_errored_operations}} errors
          </span>
          <span ng-if="listStats.batch_pending_operations == 0">

            <span ng-if="listStats.mailchimp_updates_pending - listStats.mailchimp_updates_unsubmitted > 0">
              <span class="mcs-status-pill meh" >In progress</span>
              Mailchimp updates complete, waiting to check. {{ listStats.batch_finished_operations}}/{{listStats.batch_total_operations}} done, {{listStats.batch_errored_operations}} errors
            </span>
            <span ng-if="listStats.mailchimp_updates_pending - listStats.mailchimp_updates_unsubmitted == 0">
              <span class="mcs-status-pill good" >Mailchimp updates complete.</span>
            </span>
          </span>
        </span>
        <span ng-if="!isLoading && !mcsStatus[selectedListId].batches"
          class="mcs-status-pill good"
          >No batches pending</span>
        </span>
      </p>

      <div crm-ui-accordion="{title: ts('Logs'), collapsed: true}" title="Logs">
        <table>
          <thead><tr><th style="width:12em">Date</th><th>Message</th></tr></thead>
          <tbody>
            <tr ng-repeat="row in mcsStatus[selectedListId].log">
              <td>{{row.time}}</td><td>{{row.message}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div><!-- ends detail -->
    <!-- Cache Inspect ========================================================== -->
    <div ng-if="view=='cache'">

      <div class="mcs-cache-filters" >
        <form name="mcs-cache-filters" crm-ui-id-scope>

          <div class="mcs-cache-filter">
            <label crm-ui-for="cache.sync_status" >Sync status</label>
            <select crm-ui-id="cache.sync_status"
                    ng-model="cacheParams.sync_status"
                    >
                    <option value="">Any</option>
                    <option >ok</option>
                    <option >live</option>
                    <option >fail</option>
                    <option value="todo">todo</option>
                    <option >redo</option>
            </select>
          </div>

          <div class="mcs-cache-filter">
          <label crm-ui-for="cache.mailchimp_status" >Mailchimp status</label>
          <select crm-ui-id="cache.mailchimp_status"
            ng-model="cacheParams.mailchimp_status"
            >
            <option value="">Any</option>
            <option >subscribed</option>
            <option >unsubscribed</option>
            <option >cleaned</option>
            <option >pending</option>
            <option >transactional</option>
            <option >archived</option>
          </select>
          </div>

          <div class="mcs-cache-filter">
          <label crm-ui-for="cache.civicrm_status" >CiviCRM status</label>
          <select crm-ui-id="cache.civicrm_status"
            ng-model="cacheParams.civicrm_status"
            >
            <option value="">Any</option>
            <option >Added</option>
            <option >Removed</option>
          </select>
          </div>

          <div class="mcs-cache-filter">
          <label crm-ui-for="cache.civicrm_status" >Email</label>
          <input crm-ui-id="cache.mailchimp_email"
            ng-model="cacheParams.mailchimp_email"
            type="text"
            />
          </div>

          <div class="mcs-cache-filter">
          <label crm-ui-for="cache.civicrm_status" >CiviCRM Contact id</label>
          <input crm-ui-id="cache.civicrm_contact_id"
            ng-model="cacheParams.civicrm_contact_id"
            type="text"
            />
          </div>

          <div class="mcs-cache-filter">
            <button ng-click="loadCacheData()" >Search</button>
          </div>
        </form>
      </div>

      <div ng-if="cacheRows === null"><span class="mcs-status-pill grey">Loading</span></div>

      {{ cacheRowCount }} matches

      <div ng-if="cacheRows !== null">
        <div ng-repeat="row in cacheRows" class="mcs-cache-row">

          <div class="mcs-cache-row__header">
            <span class="mcs-cache-row__who">
              <span class="mcs-status-pill {{ mapSyncStatusToColour(row.sync_status) }}" >{{row.sync_status}}</span>

              {{ row.mailchimp_email }} / CiviCRM Contact
                <span ng-if="!row.civicrm_contact_id">Not yet created</span>
                <span ng-if="row.civicrm_contact_id"><a href="{{crmUrl('civicrm/contact/view', {reset:1, cid:row.civicrm_contact_id }) }}">{{ row.civicrm_contact_id }}</a></span>
            </span>
            <span class="mcs-cache-row__list">{{ mailingGroups[mcsConfig.lists[row.mailchimp_list_id].subscriptionGroup].title}}</span>
          </div>
          <div class="mcs-cache-row__body">
            <table><thead><th width="33%"></th><th width="33%">Mailchimp</th><th width="33%">CiviCRM</th></tr></thead>
              <tbody>
                <tr>
                  <td>Status</td>
                  <td><span class="mcs-status-pill {{ mapMailchimpStatusToColour(row.mailchimp_status) }}" >{{row.mailchimp_status}}</span></td>
                  <td><span class="mcs-status-pill {{ mapCiviCRMStatusToColour(row.civicrm_status) }}" >{{row.civicrm_status || 'Missing'}}</span></td>
                </tr>
                <tr>
                  <td>Last updated</td>
                  <td>{{row.mailchimp_updated}}</td>
                  <td>{{row.civicrm_updated}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div><!-- end of a row -->
        <a href ng-if="cacheOptions.offset > 0"
          ng-click="cacheOptions.offset = cacheOptions.offset - cacheOptions.limit; loadCacheData(true)">Load previous page</a>
        <a href ng-if="(cacheOptions.offset + cacheOptions.limit) < cacheRowCount"
          ng-click="cacheOptions.offset = cacheOptions.offset + cacheOptions.limit; loadCacheData(true)">Load next page</a>
      </div>
    </div>

</div>

